$primary: #006666;
$second: #F7991C;
$secondLight: #F0B516;


@font-face {
  font-family: "SF";
  src: url('./fonts/SF-Pro-Display-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF";
  src: url('./fonts/SF-Pro-Display-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF";
  src: url('./fonts/SF-Pro-Display-Medium.otf');
  font-weight: 500;
}

html,
body {
  font-size: 16px;
  font-family: 'SF';
  font-weight: normal;
  // letter-spacing: -0.1px;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}


.bold {
  font-weight: bold;
}

.bolder {
  font-weight: 500;
}

.align-middle{
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

$cols: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $col in $cols {


  @media only screen and (min-width: 768px) {
    .col-md-#{$col} {
      width: #{$col * 100/12 + '%'};
      padding-left: 12px;
      padding-right: 12px;
    }
  }



  @media only screen and (max-width: 768px) {
    .col-#{$col} {
      width: #{$col * 100/12 + '%'};
      padding-left: 12px;
      padding-right: 12px;
    }

  }

  .m-#{$col} {
    margin: #{12 * $col +'px'}
  }

  .mt-#{$col} {
    margin-top: #{12 * $col +'px'}
  }

  .mb-#{$col} {
    margin-bottom: #{12 * $col +'px'}
  }

  .ml-#{$col} {
    margin-left: #{12 * $col +'px'}
  }

  .mr-#{$col} {
    margin-right: #{12 * $col +'px'}
  }


  .mx-#{$col} {
    margin-left: #{12 * $col +'px'};
    margin-right: #{12 * $col +'px'}
  }

  .my-#{$col} {
    margin-top: #{12 * $col +'px'};
    margin-bottom: #{12 * $col +'px'}
  }



  .p-#{$col} {
    padding: #{12 * $col +'px'}
  }

  .pt-#{$col} {
    padding-top: #{12 * $col +'px'}
  }

  .pb-#{$col} {
    padding-bottom: #{12 * $col +'px'}
  }

  .pl-#{$col} {
    padding-left: #{12 * $col +'px'}
  }

  .pr-#{$col} {
    padding-right: #{12 * $col +'px'}
  }


  .px-#{$col} {
    padding-left: #{12 * $col +'px'};
    padding-right: #{12 * $col +'px'}
  }

  .py-#{$col} {
    padding-top: #{12 * $col +'px'};
    padding-bottom: #{12 * $col +'px'}
  }
}




.tabs {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #F0B516;
  justify-content: space-between;

  .tab {

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 12px;
    padding-top: 12px;

    color: #B3B3B3;
    cursor: pointer;

    &:hover {
      color: #F7991C;

    }

    &.active {
      border-bottom: 2px solid #F0B516;
      color: #F7991C;
    }
  }
}



.container {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-left: 12px;
  padding-right: 12px;
}

.footer {
  background: $primary;
  padding-top: 40px;
  padding-bottom: 40px;

  color: white;

  .menu {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

    a {
      color: #F7991C;
      cursor: pointer;

      font-weight: 500;
      font-size: 18px;
      line-height: 22px;

      &.active {}
    }
  }

  h4,
  p {
    margin-bottom: 6px;
  }

  .socials {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 12px;
    justify-content: center;
  }

  .copyright {
    color: white;

    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    opacity: 0.8;
  }
}


.header {
  height: 90px;
  background: $primary;

  .header-inner {
    height: 90px;
    display: flex;
    align-items: center;

  }

  .logo {
    flex: 1;

  }

  .menu {

    ul {
      display: flex;
      list-style: none;

      li {
        a {
          padding: 24px 12px;

          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF;

          &.active {
            color: $second;
            font-weight: bold;
          }
        }
      }
    }

  }

  .action {
    height: 90px;
    background: white;
  }
}

.banner {
  height: 600px;
  background: $primary;

  h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #FCB912;
    margin-bottom: 45px;
    margin-top: 100px;
  }

  h3 {

    font-weight: 500;
    font-size: 34px;
    margin-bottom: 24px;
    line-height: 41px;

    color: #FFFFFF;
  }

  p {

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    margin-bottom: 18px;

  }
}

.btn {
  height: 60px;
  background: linear-gradient(90deg, #FCB912 0%, #F7991C 100%);
  min-width: 180px;
  border: 0;
  border-radius: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #FFFFFF;
  cursor: pointer;
}

.page {
  h3.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #006666;
    letter-spacing: -3px;
  }

  h3.title-white {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
  }

  .title-big {
    font-size: 72px;
    color: $second;
  }

  p.desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #555555;
  }

  p.desc-sm {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #555555;
  }

  .bg-gray {
    background: #F2F2F2;
  }

  .bg-primary {
    background: linear-gradient(90deg, #FCB912 0%, #F7991C 100%);
  }
}

.product-item {
  h5 {

    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #F7991C;
  }

  p {

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #555555;

  }
}

.image-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1px;

  .image-grid-item {
    background-size: cover;
    position: relative;
    background-position: center;
  }

  .image-grid-content {
    min-height: 360px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 70px;


    color: white;
    font-size: 20px;
    background: #0006;
    opacity: 0;
    transition: all 0.3s linear;

    &:hover {
      transition: all 0.3s linear;
      opacity: 1;
    }

  }
}

.contact {
  background-image: url('/images/banner1.jpeg');
  h2 {

    font-weight: 700;
    letter-spacing: -3px;
    font-size: 48px;
    line-height: 58px;
    color: #555555;
  }

  p {

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #555555;
  }

  a.phone {

    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    font-weight: 700;
    letter-spacing: -3px;

    color: #006666;

  }
}

.custom-form {
  input {
    border: 0;
    background: transparent;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #555555;
    padding: 12px;
    border-bottom: 2px solid #ccc;
    &:focus{
      outline: none;
    }
  }
}