$primary: #006666;
$second: #F7991C;
$secondLight: #F0B516;

@font-face {
  font-family: "SF";
  src: url('./fonts/SF-Pro-Display-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF";
  src: url('./fonts/SF-Pro-Display-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF";
  src: url('./fonts/SF-Pro-Display-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF";
  src: url('./fonts/SF-Pro-Display-Medium.otf');
  font-weight: 500;
}

html,
body {
  font-size: 21px;
  font-family: 'SF';
  font-weight: normal;
  // letter-spacing: -0.1px;
  line-height: 1.4;
  color: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-decoration-color: #F0B516;
  }
}

p {
  margin-bottom: 12px;
}

img {
  max-width: 100%;

}

.border-round {
  border-radius: 12px;
}

.color-second {
  color: $second;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}


.bold {
  font-weight: bold;
}

.bolder {
  font-weight: 500;
}

.align-middle {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

$cols: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $col in $cols {


  @media only screen and (min-width: 768px) {
    .col-md-#{$col} {
      width: #{$col * 100/12 + '%'};
      padding-left: 12px;
      padding-right: 12px;
    }
  }



  @media only screen and (max-width: 768px) {
    .col-#{$col} {
      width: #{$col * 100/12 + '%'};
      padding-left: 12px;
      padding-right: 12px;
    }

  }

  .m-#{$col} {
    margin: #{12 * $col +'px'}
  }

  .mt-#{$col} {
    margin-top: #{12 * $col +'px'}
  }

  .mb-#{$col} {
    margin-bottom: #{12 * $col +'px'}
  }

  .ml-#{$col} {
    margin-left: #{12 * $col +'px'}
  }

  .mr-#{$col} {
    margin-right: #{12 * $col +'px'}
  }


  .mx-#{$col} {
    margin-left: #{12 * $col +'px'};
    margin-right: #{12 * $col +'px'}
  }

  .my-#{$col} {
    margin-top: #{12 * $col +'px'};
    margin-bottom: #{12 * $col +'px'}
  }



  .p-#{$col} {
    padding: #{12 * $col +'px'}
  }

  .pt-#{$col} {
    padding-top: #{12 * $col +'px'}
  }

  .pb-#{$col} {
    padding-bottom: #{12 * $col +'px'}
  }

  .pl-#{$col} {
    padding-left: #{12 * $col +'px'}
  }

  .pr-#{$col} {
    padding-right: #{12 * $col +'px'}
  }


  .px-#{$col} {
    padding-left: #{12 * $col +'px'};
    padding-right: #{12 * $col +'px'}
  }

  .py-#{$col} {
    padding-top: #{12 * $col +'px'};
    padding-bottom: #{12 * $col +'px'}
  }
}




.tabs {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #F0B516;
  justify-content: space-between;

  .tab {

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 12px;
    padding-top: 12px;

    color: #B3B3B3;
    cursor: pointer;

    &:hover {
      color: #F7991C;

    }

    &.active {
      border-bottom: 2px solid #F0B516;
      color: #F7991C;
    }
  }
}



.container {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-left: 12px;
  padding-right: 12px;
}

.footer {
  background: $primary;
  padding-top: 40px;
  padding-bottom: 40px;

  color: white;

  background-image: url('/img/flower-right.svg');
  background-position: bottom right;
  background-repeat: no-repeat;

  .menu {
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;

    a {
      color: #F7991C;
      cursor: pointer;

      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 12px;

      &.active {}
    }
  }

  h4,
  p {
    margin-bottom: 7px;

  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .socials {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 12px;
    justify-content: center;
  }

  .copyright {
    color: white;

    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    opacity: 0.8;
  }
}


.header {
  height: 90px;
  background: $primary;
  display: flex;
  align-items: center;

  .logo {
    flex: 1;
    padding-left: calc((100vw - 1320px) / 2);

  }

  .menu {

    ul {
      display: flex;
      list-style: none;

      li {
        a {
          padding: 24px 12px;

          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF;

          &.active {
            color: $second;
            font-weight: bold;
          }
        }
      }
    }

  }

  .action {
    height: 90px;
    background: white;
    padding: 30px 0;
    padding-right: calc((100vw - 1320px) / 2);
    display: flex;
    align-items: flex-end;

    .action-item {
      border-left: 2px solid #006666;
      padding-left: 12px;
      padding-right: 12px;

      &:first-child {
        border-left: 0;
      }

      a {
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        color: #006666;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #006666;
        margin: 0;
      }

    }
  }

  &.header-white {
    background: white;

    .menu {
      ul {
        li {
          a {
            color: $primary;
          }
        }
      }
    }

    .action {
      background: $primary ;

      .action-item {
        border-color: white;

        a,
        p {
          color: white;
        }
      }
    }
  }
}

.banner {
  height: 600px;
  background-color: $primary;
  display: flex;
  align-items: center;
  margin-bottom: 80px;

  background-image: url('/img/flower.svg');
  background-position: bottom left;
  background-repeat: no-repeat;

  .banner-left {
    padding-left: calc((100vw - 1320px) / 2);
    width: calc(((100vw - 1320px) / 2 + 330px));
    padding-right: 30px;
  }

  .banner-right {
    margin-top: 50px;
    flex: 1;

    img {
      height: 650px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 100px;

    }
  }

  h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #FCB912;
    margin-bottom: 45px;
  }

  h4 {
    font-weight: 500;

    font-size: 48px;
    line-height: 58px;
    color: #F7991C;
  }

  h3 {

    font-weight: 500;
    font-size: 34px;
    margin-bottom: 24px;
    line-height: 41px;

    color: #FFFFFF;
  }

  p {

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    margin-bottom: 18px;

  }
}

.btn {
  height: 60px;
  background: linear-gradient(90deg, #FCB912 0%, #F7991C 100%);
  min-width: 180px;
  border: 0;
  border-radius: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 17px;

  color: #FFFFFF;
  cursor: pointer;

  &.btn-send {
    background: transparent;
    border: 1px solid white;
    color: #555555;
  }

  &.btn-block {
    width: 100%;
  }
}

.page {
  h3.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #006666;
    letter-spacing: -3px;
  }

  h3.title-white {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
  }

  .title-big {
    font-size: 72px;
    color: $second;
  }

  p.desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #555555;
  }

  p.desc-sm {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #555555;
  }

  .bg-gray {
    background: #F2F2F2;
  }

  .bg-primary {
    background: linear-gradient(90deg, #FCB912 0%, #F7991C 100%);
  }
}

.product-item {
  h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #555555;
    margin-bottom: 12px;

    &:hover {
      color: #F7991C;

    }
  }

  img {
    display: block;
    margin-bottom: 12px;
    border-radius: 12px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  .date {
    font-size: 14px;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1px;

  .image-grid-item {
    background-size: cover;
    position: relative;
    background-position: center;
  }

  .image-grid-content {
    min-height: 360px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 70px;


    color: white;
    font-size: 20px;
    background: #0006;
    opacity: 0;
    transition: all 0.3s linear;

    &:hover {
      transition: all 0.3s linear;
      opacity: 1;
    }

  }
}

.contact {
  position: relative;

  &::before {
    background: linear-gradient(90deg, rgba(0, 175, 211, 0) 0%, #FCB912 71%);
    opacity: 0.4;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &::after {
    background-image: url('/images/banner1.jpeg');
    opacity: 0.4;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
  }

  h2 {

    font-weight: 700;
    letter-spacing: -3px;
    font-size: 48px;
    line-height: 58px;
    color: #555555;
  }

  p {

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #555555;
  }

  a.phone {

    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    font-weight: 700;
    letter-spacing: -3px;

    color: #006666;

  }
}

.custom-form {
  .input {
    position: relative;

    label {
      position: absolute;
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      top: 12px;
      left: 12px;
    }

    input {
      border: 0;
      background: transparent;
      display: block;
      width: 100%;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #555555;
      padding: 12px;
      border-bottom: 2px solid #555555;

      &:focus {
        outline: none;
      }
    }
  }
}

.breadcrumb {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;

  color: #999999;

  .breadcrumb-item {
    display: inline-block;
    padding: 12px;
    color: #555555;

    &:hover {
      color: $second;
    }
  }
}


.page-contract {

  .block-address {
    margin-top: 80px;
    margin-bottom: -200px;
    position: relative;
    background: $primary;
    padding: 60px 40px 40px 40px;
    border-top-left-radius: 40px;
    color: white;

    h5 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }
  }
}

.service-detail {
  .service-detail-item {

    .service-detail-inner {
      display: flex;
      gap: 40px;
      padding-top: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid #F7991C;
    }

    &:last-child {
      .service-detail-inner {
        border: none
      }
    }

    .service-detail-title {
      cursor: pointer;

      font-size: 40px;
      line-height: 48px;
      font-weight: 300;


    }

    .service-detail-content {
      display: none;
      padding: 24px 0;
    }

    .service-detail-main {
      flex: 1;

      p {
        margin-bottom: 12px;

      }
    }

    .service-detail-image {
      flex: 1;

      img {
        display: none;

      }
    }

    .service-detail-plus {
      height: 60px;
      width: 60px;
      position: relative;
      margin-top: 16px;

      &::after {
        content: '';
        height: 4px;
        width: 60px;
        position: absolute;
        background: linear-gradient(90deg, #FCB912 0%, #F7991C 99.98%);
        top: 27px;
        left: 0;
      }

      &::before {
        // content: '';
        height: 60px;
        width: 4px;
        position: absolute;
        background: linear-gradient(90deg, #FCB912 0%, #F7991C 99.98%);
        top: 0px;
        left: 30px;
      }
    }

    &.active {
      background: #F2F2F2;

      .service-detail-plus {

        &::before {
          content: '';
        }
      }

      .service-detail-title {
        color: #FCB912;
        font-weight: 500;
      }

      .service-detail-inner {
        border: none;
      }

      .service-detail-content {
        display: block;
      }

      .service-detail-image {
        img {
          display: block;

        }
      }
    }
  }
}

.menu-mobile {
  display: none;
  cursor: pointer;
}

.menu-sider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0008;
  display: none;

  .menu-wrap {
    background: white;
    width: 80%;
    height: 100%;
    margin-left: 20%;

    a {
      display: block;
      padding: 12px;
      font-size: 16px;
      font-weight: bold;
      color: #006666 #555555;
    }
  }
}

@media only screen and (max-width: 768px) {

  html,
  body {
    font-size: 16px;
    line-height: 1.4;
    color: #555555;
  }


  .btn {
    height: 45px;
    font-size: 14px;
  }

  .header {
    height: 50px;

    position: sticky;
    top: -1px;
    z-index: 10;

    .logo {
      padding: 10px;

      img {
        height: 35px;
      }
    }

    .menu {
      display: none;
    }

    .action {
      display: none;
    }

    .menu-mobile {
      padding: 12px;
      display: block;
    }
  }

  .banner {
    display: block;
    height: auto;
    margin-bottom: 0;

    h4 {
      font-size: 30px;
    }

    h5 {
      margin-bottom: 24px;
    }

    .banner-left {
      padding-left: 12px;
      width: 100%;
      padding-top: 24px;
      margin-bottom: 24px;
    }

    .banner-right {
      margin: 0;

      img {
        display: block;
        border-radius: 0;
        height: 300px;
      }
    }
  }

  .page h3.title {
    font-size: 24px;
    letter-spacing: -2px;
    line-height: 42px;
  }

  .page p.desc {
    font-size: 20px;
  }

  .page p.desc-sm {
    font-size: 16px;
  }

  .page .title-big {
    font-size: 48px;
  }

  .tabs .tab {
    font-size: 16px;
    line-height: 21px;
  }

  .image-grid {

    grid-template-columns: auto auto;
  }

  .image-grid .image-grid-content {
    min-height: 200px;
    opacity: 1;
    padding: 24px;

    p {
      font-size: 16px;
    }
  }

  .contact h2 {
    font-size: 36px;

  }

  .contact p {
    font-size: 16px;
  }

  .contact a.phone {
    font-size: 36px;

  }

  .breadcrumb {
    font-size: 14px;
    line-height: 14px;
    padding-top: 24px;
  }

  .breadcrumb .breadcrumb-item {
    padding: 0 6px;
  }

  .product-item h5 {
    font-size: 20px;
  }


  .footer .menu {
    display: block;

    a {
      display: block;
      padding: 6px 0;
    }
  }

  @each $col in $cols {

    .m-#{$col} {
      margin: #{6 * $col +'px'}
    }

    .mt-#{$col} {
      margin-top: #{6 * $col +'px'}
    }

    .mb-#{$col} {
      margin-bottom: #{6 * $col +'px'}
    }

    .ml-#{$col} {
      margin-left: #{6 * $col +'px'}
    }

    .mr-#{$col} {
      margin-right: #{6 * $col +'px'}
    }


    .mx-#{$col} {
      margin-left: #{6 * $col +'px'};
      margin-right: #{6 * $col +'px'}
    }

    .my-#{$col} {
      margin-top: #{6 * $col +'px'};
      margin-bottom: #{6 * $col +'px'}
    }



    .p-#{$col} {
      padding: #{6 * $col +'px'}
    }

    .pt-#{$col} {
      padding-top: #{6 * $col +'px'}
    }

    .pb-#{$col} {
      padding-bottom: #{6 * $col +'px'}
    }

    .pl-#{$col} {
      padding-left: #{6 * $col +'px'}
    }

    .pr-#{$col} {
      padding-right: #{6 * $col +'px'}
    }


    .px-#{$col} {
      padding-left: #{6 * $col +'px'};
      padding-right: #{6 * $col +'px'}
    }

    .py-#{$col} {
      padding-top: #{6 * $col +'px'};
      padding-bottom: #{6 * $col +'px'}
    }
  }
}